body {
    background: #3446eb;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.button {
    background: #13219e;
    max-width: 400px;
    height: 40px;
    margin: 80px auto;
    border-radius: 30px;

    display: flex;              
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
    cursor: pointer;
}

.button a {
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.button:hover {
    transform: translateY(-3px);
    background: #1d2fd6;       
}

  
.button:hover a,
.button:focus a {
    color: #111111;            
}